@import 'vars';
@import 'typography';
@import './materialize/sass/master';
@import 'table';

body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  padding: $half-space;
}